# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# Virtual Environment
venv/
ENV/
env/
.env

# Version control
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Misc
.DS_Store